{% extends "base.html" %}
{% block content %}
<h1>Edit your profile</h1>
<form method="POST" name="edit">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>About Yourself:</td>
            <td>{{ form.about_me }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endfor %}
{% endblock %}