{% extends "base.html" %}
{% block content %}
<h1>Welcome, {{ user.nickname }}!</h1>
<form method="POST" name="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>Title:</td>
            <td>{{ form.title }}</td>
            <td>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Body:</td>
            <td>{{ form.body }}</td>
            <td>
                {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Post It!" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
{% if posts %}
    <table>
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
        <tr>
            {% if posts.has_prev %}
            <td><a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>|</td>
            {% if posts.has_next %}
            <td><a href="{{ url_for('index', page=posts.next_num) }}">&gt;&gt; Older posts</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
    </table>
{% endif %}
{% endblock %}